#rest-noun-btn-wrapper{
    display: flex;
    margin-top: 10px;
    padding: 0 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}

#build-api-header-wrapper{
    display: flex;
    justify-content: space-between;
}