#main-menu-btn,
#aside-menu-btn{
    position: absolute;
    cursor: pointer;
}

#main-menu-btn{
    top: 15px;
    right: 35px;
}

#aside-menu-btn{
    top: 15px;
    right: 20px;
}

.menu-bar{
    width: 30px;
    height: 2px;
    background-color: #222;
    margin: 5px 0;
    transition: 0.3s;
}

.aside-bar1{
    width: 13px;
    transform: rotate(45deg) translate(12px, -10px);
}

.aside-bar2{
    width: 25px;
    transform: translate(3px, 0px);
}

.aside-bar3{
    width: 13px;
    transform: rotate(-45deg) translate(12px, 10px);
}

#auth-nav-sidebar{
    position: absolute;
    box-sizing: border-box;
    padding: 60px 30px 30px 30px;
    top: 0;
    right: 0;
    width: 600px;
    height: 100%;
    background-color: #fff;
    overflow-y: scroll;
    transition: all 0.3s;
}

.auth-nav-sidebar{
    transform: translateX(600px);
}

.auth-nav-sidebar.active{
    box-shadow: -3px 0 3px 0 rgba(0,0,0,0.23);
    transform: translateX(0px);
    transition: all 0.3s;
}

input[type]{
    transition: background-color 0.3s;
    &:focus{
        background-color: #eeeeee;
        transition: background-color 0.3s;
    }
}
input.auth-input-empty[type]{
    border: 1px solid #cc2828;
}

.session-check{
    margin-bottom: 20px;
}

#submit-btn-wrapper{
    display: flex;
    button{
        width: 120px;
        i{
            font-weight: 300;
            font-size: 140%;
        }
    }
}

.login-status{
    font-size: 85%;
    font-weight: bold;
    margin-left: 10px;
}
.login-status.success{
    color: #2c742c;
}
.login-status.error{
    color: #be2e2e;
}




